@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar1{
    position: sticky;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.413);
    background: white;
}

  .input-group{
        width: 500px;
    }
    
@media screen and (min-width:375px),(max-width:424px){
    #navbar1{
        padding: 1px;
        height: 60px;
    }
    .signbtn{
        height: 35px;
        margin-left: 50px;
    }
}
@media screen and (min-width:425px){
    .signbtn{
        margin-left: 90px;
    }
}
@media screen and (min-width:768px) {
    .signbtn{
        
        margin-left: 425px;
    }
}
@media screen and (min-width:1440px) {
    .signbtn{
        
        margin-left: 5px;
    }
}


  

@media screen and (min-width:375px){
    .headline h1 {
        font-size: 15px;
        margin: 20px 20px; 
    }
}
@media screen and (min-width:425px){
    .headline h1 {
        font-size: 15px;
        margin: 20px 20px; 
    }
}
@media screen and (min-width:768px){
    .headline h1 {
        font-size: 20px;
        margin: 20px 20px; 
    }
}
@media screen and (min-width:1440px){
    .headline h1 {
        font-size: 25px;
        margin: 20px 20px; 
    }
}

.trend1 img{
    width: 150px;
    
}
.navbar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 600;
    color:lightpink!important;
}
#navbarSupportedContent a{
    color: black;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid orangered;
}

/* oferr */
#offer img{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    height: 150px;
    
}
@media screen and (min-width:375px),(max-width:425px) {
    #offer img{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: auto;
    }
    
}
@media screen and (min-width:1440px){
  #offer img{
    width: 80%;
    margin-left: 150px;
  }  
}



/* banner */
.banner{
    margin-top: 20px;
}
.banner-content img{
    width: 100%;
    margin: 5px;
}
.banner2{
    margin-top: 20px;
}
.banner2-content img{
    width:100%;
    margin: 5px;
}
.headline2 h1{
    margin: 30PX 50PX;
    letter-spacing: 2px;
    font-size: 30px;
    width: 50%;
    opacity: 0.8;
    
}

    @media screen and (min-width:375px){
            .carousel-inner img{
        height: 170px;
    }
    }
    @media screen and (min-width:1440px){
            .carousel-inner img{
        height: 400px;
    }
    }

@media screen and  (min-width:375px) {
    .headline2 h1{
        font-size: 15px;
        margin: 20px 40px;
    }
}
@media screen and (min-width:768px) {
    .headline2 h1{
        font-size: 30px ;
        margin: 20px 40px;
    }
  
}
@media screen and (min-width:1440px) {
    .headline2 h1{
        font-size: 35px ;
        margin: 25px 40px;
    }
  
}


/* footer */
.footer{
    margin-top: 20px;
}
.footer-content img{
    width: 100%;
    height: 500px;
    margin: 5px;
}

.nav-item {
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 100;
}

.nav-item:hover .dropdown-menu{
    display: block;
}

/* products */

#products{
    background:#e5e5e5;
}

#products h4{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    /* font-family:'Asimovian',sans-serif; */
    text-shadow: 0px 0px 0px rgb(249, 248, 164);
    text-align: center;
    color: lightslategray;
}
@media screen and (min-width:375px){
    #products h4{
        font-size: 20px;
        
    }   
}
@media screen and (min-width:425px){
    #products h4{
        font-size:20px;
    }   
}
@media screen and (min-width:768px){
    #products h4{
        font-size:30px;
        
    }   
}
@media screen and (min-width:1440px){
    #products h4{
        font-size:35px;
        
    }   
}
@media screen and (min-width:375px){
    #products h5{
        font-size: 15px;
        margin-bottom: 3px;
    }
    #products p{
        font-size: 15px;
        margin-bottom: 3px;
    }
    .cartbtn{
        width: 100px;
        height: 30px;
        padding-bottom:0px;  
        padding-top: 5px; 
        font-size: 12px;
        margin-bottom: 60px;
    }
   
}
@media screen and (min-width:768px){
    #products h5{
        font-size: 18px;
        margin-bottom: 2px;
    }
    #products p{
        font-size: 18px;
        margin-bottom: 3px;
    }
    .cartbtn{
        width: 100px;
        height: 30px;
        padding-bottom:0px;  
        padding-top: 5px; 
        font-size: 12px;
        margin-bottom:80px;
       
    }
}
@media screen and (min-width:1440px){
    #products h5{
        font-size: 20px;
        margin-bottom: 5px;
    }
    #products p{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .cartbtn{
        width: 120px;
        height: 35px;
        padding-bottom:0px;  
        padding-top: 0px; 
        font-size: 15px;
        margin-top: 10px;
       
    }
}


.shirtline h4{
    padding: 15px;
}


#products img{
    width: 250px;
    height: 280px;
}
@media screen and (min-width:375px){
    #products img{
        width: 150px;
        height: 150px;
        margin-top: 50px;
        padding-top: 30px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width:425px){
    #products img{
        width: 150px;
        height: 150px;
        margin-top: 50px;
        padding-top: 30px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width:768px){
    #products img{
        width: 250px;
        height: 250px;
        margin-top: 50px;
        padding-top: 30px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width:1440px){
    #products img{
        width: 250px;
        height: 280px;
        margin-top: 50px;
        padding-top: 30px;
        margin-bottom: 0px;
    }
}
.card{  
    width: 250px;
    height: 455px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
                border-radius:20px !important;   
    overflow: hidden;
    justify-content: center; 
    align-items: center; 
    margin: 20px 80px ;
    transition: all .2s ease !important ; 
    
}
@media screen and (min-width:375px){
   .card{
    width:150px;
    margin:20px 15px ;
    height: 300px;
   }
    
}
@media screen and (min-width:424px){
   .card{
    width:150px;
    margin:20px 15px ;
    height: 250px;
   }
    
}
@media screen and (min-width:768px){
   .card{
    width:250px;
    margin:20px 50px ;
    height: 350px;
   }
    
}
@media screen and (min-width:1440px){
   .card{
    width:250px;
    margin:20px 50px ;
    height: 455px;
   }
    
}

.card:hover{
        box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
                    inset -4px -4px 10px white;
                    /* transition: .2s ease !important; */
}
/* pants */
.card-img-top img{
    transition: 0.35s ease;
}
.card-img-top:hover{
    transform: scale(1.15);
}
.input-group{
    width: 55%;
    height: 45px;
    /* padding-right:14%; */
}
@media screen and (max-width: 768) {
    .input-group{
    width: 90%;
    height: 45px;
}
}

/* contact */

#contact textarea{
        margin: 10px 0px;
}
#contact input{
        margin: 10px 0px;
}
.contacts{
    margin-bottom:50px;
    margin-top: 30px;
    padding-bottom:100px;
}
#contact{
    background-color: lightpink;
}
.contact-image img{
    margin-top: 10px;
    width: 100%;
}
.catbox{
    display: flex;
}
@media screen and (max-width:768px) {
        .catbox{
         
          flex-direction: row;
          flex-wrap: nowrap;
          overflow-x: scroll;
     }
     .catbox::-webkit-scrollbar{
        display: none;
     }

}
.forimg img{
    height:100px;
} 
.menbox{
    display: flex;
}
@media screen and (max-width:768px){
    .menbox{
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .menbox::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (min-width:375px){
    #exampleModal{
        margin-left: 40px;
        margin-top: 100px;
        width: 300px;
        height: 400px;
    }
}
@media screen and (min-width:425px){
    #exampleModal{
        margin-left: 70px;
        margin-top: 100px;
        width: 310px;
        height: 410px;
    }
}
@media screen and (min-width:768px){
    #exampleModal{
        margin-left: 200px;
        margin-top: 50px;
        width: 400px;
        height: 500px;
    }
}
@media screen and (min-width:1440px){
    #exampleModal{
        margin-left: 540px;
        margin-top: 60px;
        width: 500px;
        height: 600px;
    }
}
@media screen and (max-width:425px) {
    .menbox img{
        margin-bottom: 20px !important;
    }
    
}